@{
    ViewData["Title"] = "Home Page";
}
@*
<div  style="background-image: url('../Images/images.jfif'); background-repeat:no-repeat; background-size:100% 100%">
    <h1 class="display-6">Welcome to Otahuhu Handicraft Store</h1>
    
</div>*@
@*<div style="background-image: url('../Images/images.jfif'); background-repeat:no-repeat; background-size:100% 100%">
    </div>*@

@*<div style="background-image: url('../Images/images.jfif');">
    <h1 class="display-6">Welcome to Otahuhu Handicraft Store</h1>
    </div>*@
<div class="page-background-class">
    <h1 class="display-8" style="text-align:center; font-weight:bold; font-family:Calibri;">Welcome to Otahuhu Handicraft Store</h1>
</div>